.product{
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.h3::after{
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  background: #0000006e;
  transform: translateX(-250px);
  transition: all 0.3s ease-in-out;
  
}
.h3:hover::after{
  transform: translate(0);
}
